$white-color: #FFFFFF;
$primary-color: #2A6CEA;
$primary-hover-color: #397DFF;
$primary-disabled-color: #ABCAE6;

$pure-black-color: #000000;
$blackcolor: #191C1F;
$dark-gray-color: #5E646A;
$gray-color: #83898F;
$mid-gray-color: #C2C8CD;
$light-gray-color: #ECEFF2;
$extra-light-gray-color: #F6F8FA;

$dangerous-color: #F13636;
$green-success-color: #25CD82;

:root {
  --swiper-theme-color: #2A6CEA;
  --swiper-pagination-bullet-inactive: #C2C8CD;
}
