// center content
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// responsive media
@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// headlines
@mixin headline($size, $line-height, $align: left) {
  font-weight: 600;
  font-size: $size;
  line-height: $line-height;
  text-align: $align;
}

@mixin headline-1 {
  @include headline(52px, 64px, center);
}

@mixin headline-2 {
  @include headline(40px, 56px);
}

@mixin headline-3 {
  @include headline(32px, 40px);
}

@mixin headline-4 {
  @include headline(24px, 32px);
}

@mixin headline-5 {
  @include headline(20px, 24px);
}

@mixin headline-6 {
  @include headline(16px, 24px);
}

// body text
@mixin body($size, $line-height) {
  font-weight: 400;
  text-align: left;
  font-size: $size;
  line-height: $line-height;
}

@mixin body-18 {
  @include body(18px, 32px);
}

@mixin body-16 {
  @include body(16px, 28px);
}

@mixin body-14 {
  @include body(14px, 24px);
}

@mixin body-12 {
  @include body(12px, 16px);
}

// caption text
@mixin caption-12 {
  font-weight: 400;
  text-align: left;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.12em;
}

// body-bold text
@mixin body-bold($size, $line-height) {
  @include body($size, $line-height);
  font-weight: 600;
}

@mixin body-bold-18 {
  @include body-bold(18px, 32px);
}

@mixin body-bold-16 {
  @include body-bold(16px, 28px);
}

@mixin body-bold-14 {
  @include body-bold(14px, 24px);
}

@mixin body-bold-12 {
  @include body-bold(12px, 16px);
}
