@import 'colors';
@import 'breakpoints';
@import 'variables';

@import 'mixins';

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

html {
  background-color: $white-color;
  scroll-behavior: smooth;
}

body {
  color: $blackcolor;
  overflow-x: hidden !important;
}

button:hover {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  color: $blackcolor !important;
  caret-color: $pure-black-color;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: $blackcolor;
  transition: background-color 5000000s ease-in-out 0s;
}

a {
  text-decoration: none;
}

a[href^=tel] {
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style: none;
}

button {
  font-family: $font-family;
  color: inherit;
  border: none;
  background: transparent;
  transition: opacity 0.3s;
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-Thin.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-Thin.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-Thin.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-Thin.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-ThinItalic.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-ThinItalic.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-ThinItalic.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-ThinItalic.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-Regular.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-Regular.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-Regular.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-Regular.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-RegularItalic.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-RegularItalic.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-RegularItalic.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-RegularItalic.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-Medium.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-Medium.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-Medium.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-Medium.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-MediumItalic.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-MediumItalic.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-MediumItalic.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-MediumItalic.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-Semibold.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-Semibold.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-Semibold.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-Semibold.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-SemiboldItalic.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-SemiboldItalic.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-SemiboldItalic.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-SemiboldItalic.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-Bold.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-Bold.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-Bold.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-Bold.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-BoldItalic.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-BoldItalic.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-BoldItalic.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-BoldItalic.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-Super.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-Super.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-Super.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-Super.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-SuperItalic.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-SuperItalic.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-SuperItalic.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-SuperItalic.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-Extralight.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-Extralight.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-Extralight.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-Extralight.eot');
}

@font-face {
  font-family: 'Graphik LCG';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/assets/fonts/GraphikLCG-ExtralightItalic.woff2') format('woff2'),
       url('/assets/fonts/GraphikLCG-ExtralightItalic.woff') format('woff'),
       url('/assets/fonts/GraphikLCG-ExtralightItalic.ttf') format('truetype'),
       url('/assets/fonts/GraphikLCG-ExtralightItalic.eot');
}
