@import 'variables';
@import 'mixins';

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

html {
  background-color: $light-color;
}

body {
  color: $dark-color;
  overflow-x: hidden !important;
}

button:hover {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  color: $dark-color !important;
  caret-color: $dark-color;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: $dark-color;
  transition: background-color 5000000s ease-in-out 0s;
}

a[href^=tel] {
  text-decoration:inherit;
  color: inherit;
}

h1 {
  //styleName: Headline 1;
  font-family: Graphik LCG;
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
  text-align: left;
}
