@use 'styles/_colors' as colors;
@use 'styles/_breakpoints' as breakpoints;

@use 'styles/_mixins' as mixins;

.root {
  position: relative;
  min-height: 880px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include mixins.responsive(breakpoints.$breakpoint-desctop) {
    min-height: 944px;
  }

  @include mixins.responsive(breakpoints.$breakpoint-xs) {
    min-height: 516px;
  }

  @include mixins.responsive(breakpoints.$breakpoint-mobile) {
    min-height: 429px;
  }

  &::before {
    content: '""';
    position: absolute;
    inset: 0;
    top: -80px;
    color: transparent;
    background-image: url(/assets/home/main-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &::after {
    content: '""';
    position: absolute;
    inset: 0;
    top: -80px;
    color: transparent;
    background-color: colors.$primary-color;
    opacity: 80%;
  }
}

.contentWrapper {
  max-width: 748px;
  min-height: 880px;
  padding-top: 233px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  @include mixins.responsive(breakpoints.$breakpoint-xs) {
    max-width: 476px;
    min-height: 944px;
    padding-top: 317px;
  }

  @include mixins.responsive(breakpoints.$breakpoint-mobile) {
    max-width: 288px;
    min-height: 516px;
    padding-top: 92px;
  }

  @include mixins.responsive(breakpoints.$breakpoint-mobile) {
    // min-height: 429px;
    // padding-top: 48px;
  }
}

.mainSectionTitle {
  @include mixins.headline-1;
  color: colors.$white-color;

  @include mixins.responsive(breakpoints.$breakpoint-xs) {
    @include mixins.headline-3;
    text-align: center;
  }

  @include mixins.responsive(breakpoints.$breakpoint-mobile) {
    @include mixins.headline-4;
    text-align: center;
  }
}

.mainSectionTextBody {
  @include mixins.body-18;
  padding: 18px 0 92px;
  color: colors.$white-color;

  @include mixins.responsive(breakpoints.$breakpoint-xs) {
    @include mixins.body-16;
    padding: 17px 0 40px;
    text-align: center;
  }

  @include mixins.responsive(breakpoints.$breakpoint-mobile) {
    padding: 10px 0 26px;
    text-align: center;
  }
}
