@use 'styles/_colors' as colors;
@use 'styles/_breakpoints' as breakpoints;

@use 'styles/_mixins' as mixins;

%active-label {
  @include mixins.body-14;
  top: 8px;
  color: colors.$gray-color;
  background: transparent;
  transform: unset;
}

.textField {
  &Wrapper {
    position: relative;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: colors.$extra-light-gray-color;
    border: 1px solid colors.$extra-light-gray-color;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &.filled {
      color: colors.$blackcolor;
      background: transparent;
      border-color: colors.$light-gray-color;

      .label {
        @extend %active-label;
      }
    }

    &.invalid {
      border-color: colors.$dangerous-color;
    }
  }

  &Container {
    position: static;
    width: 100%;
    height: 100%;
    padding: 8px 16px 4px;
    display: flex;
    align-items: center;

    .input {
      @include mixins.body-18;
      top: 10px;
      padding: 0;
      flex: 1;
      font-size: 1rem;
      background: transparent;
      border: none;
      outline: none;
  
      &:focus {
        color: colors.$blackcolor;
      }
    }
  
    .label {
      @include mixins.body-18;
      position: absolute;
      top: 50%;
      text-align: unset;
      color: colors.$dark-gray-color;
      background: colors.$extra-light-gray-color;
      transform: translateY(-50%);
      transition: top 0.3s ease, background 0.3s ease;
      pointer-events: none;
    }
  
    .input:focus ~ .label,
    &.filled .label {
      @extend %active-label;
    }
  
    .icon {
      margin-left: 0.5rem;
      width: 20px;
      height: 20px;
      visibility: hidden;
  
      &.invalid {
        visibility: visible;
        color: colors.$dangerous-color;
      }
  
      &.valid {
        visibility: visible;
      }
    }
  }

  &HelperText {
    @include mixins.body-12;
    position: absolute;
    left: 0;
    bottom: -21px;
    margin-top: 5px;
    color: colors.$dangerous-color;
  }
}
