@use 'styles/_breakpoints' as breakpoints;

@use 'styles/_mixins' as mixins;

.contentRoot {
  width: 100%;
  height: 100%;
  padding: 0 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include mixins.responsive(breakpoints.$breakpoint-desctop) {
    padding: 0 20px;
  }

  @include mixins.responsive(breakpoints.$breakpoint-xs) {
    padding: 0 17px;
  }

  @include mixins.responsive(breakpoints.$breakpoint-mobile) {
    padding: 0 16px;
  }
}

.contentWrapper {
  width: 100%;
  max-width: 1216px;
}
