@use 'styles/colors' as colors;

@use 'styles/mixins' as mixins;

.burger-icon {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 12px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: colors.$white-color;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.cross-icon {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 12px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: colors.$blackcolor;
    transform-origin: center;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@for $i from 1 through 6 {
  .headline-#{$i} {
    @if $i == 1 {
      @include mixins.headline(52px, 64px, center);
    } @else if $i == 2 {
      @include mixins.headline(40px, 56px);
    } @else if $i == 3 {
      @include mixins.headline(32px, 40px);
    } @else if $i == 4 {
      @include mixins.headline(24px, 32px);
    } @else if $i == 5 {
      @include mixins.headline(20px, 24px);
    } @else {
      @include mixins.headline(16px, 24px);
    }
  }
}
