@use 'styles/colors' as colors;

@use 'styles/mixins' as mixins;

.burger-icon {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 12px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: colors.$white-color;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.cross-icon {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 12px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: colors.$blackcolor;
    transform-origin: center;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
